/* por defecto */

/*@media screen {
  .fondo-gato {
    background-image: url(../images/sunny-day.jpg);
    background-size: cover;
  }
  .gato {
    margin-left: 30%;
    margin-top: 40%;
    size: 100%;
  }
}*/

@media screen and (max-width:824px) {
  .gato {
    content: url(../images/kitten-medium.png);
    align-content: center;
  }
  body {
    background-image: url(../images/dawn.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
}

@media screen and (max-width: 534px) {
  .gato {
    content: url(../images/kitten-small.png);
    /*margin-top: 10%;
    margin-left: 20%;*/
    align-content: center;
  }
  body {
    background-image: url(../images/night.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-left: 10px;
  }
}
